table {
  border-collapse: collapse;
}

.main, .nested {
  width: 100%;
  border: 1px solid black;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.black-cell {
  background-color: black;
  color: white;
  font-weight: bold;
}
